@font-face {
  font-family: 'Tanker-Regular';
  src: url('./fonts/Tanker-Regular.woff2') format('woff2'),
       url('./fonts/Tanker-Regular.woff') format('woff'),
       url('./fonts/Tanker-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

html, body, #app, #app>div, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Tanker-Regular';
  background-color: black;
  color: white;
  padding: 0px 60px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  height: 10%;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}

footer {
  height: 10%;
  text-align: right;
}

embed {
  width: 100%;
  padding-bottom: 30px;
}

.button {
  width: 40%;
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 40px;
}

.button:hover {
  background-color: #333;
}

.button:active {
  background-color: #555;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkorange;
}
